<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>USEARTH: 민원관리</title>
  <link rel="icon" href="/images/complain-management-image/"/>
  <link rel="stylesheet" href="/css/admin/complain-management.css"/>
</head>
<body>
<div class="wrap">
  <div class="innerWrapper">
    <nav class="innerWrapperNav">
      <div>
        <div class="navInner">
          <a href="/admin/resident-list">
            <img class="svg2" src="/images/complain-management-image/usEarth_logo.png"/>
          </a>
          <div class="aBelow"></div>
          <div class="wrapperBody">
            <span>관리자 페이지 | 민원관리</span>
          </div>
        </div>
      </div>
    </nav>
    <div class="overflow">
      <nav class="surfaceSecondary">
        <div class="surfaceInner">
          <div class="flexCol">
            <div class="margin12">
              <button class="profileImageBTN">
                  <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;">
                      <img alt="관리자 이미지" sizes="100vw" decoding="async" src="/images/recycling-agentmanager-image/profile.png" class=" profileIMG">
                  </span>
                <span></span>
              </button>
            </div>
            <h2 class="userName" th:text="${session.admin.adminName}"></h2>
            <a href="/admin/logout">
              <button type="button" class="myPageButton">
                <div class="myPageButtonInner">
                  <div>로그아웃</div>
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="16px" width="16px" class="svg3">
                    <path d="M11 7a1 1 0 0 0-1-1H4v14h14v-6a1 1 0 1 0-2 0v4H6V8h4a1 1 0 0 0 1-1Z"></path>
                    <path d="M19.01 3.829H20v6.656a1 1 0 1 1-2 0V7.244l-5.293 5.293a1 1 0 0 1-1.414-1.415l5.293-5.292h-3.243a1 1 0 1 1 0-2H19.01Z"></path>
                  </svg>
                </div>
              </button>
            </a>
          </div>
        </div>
        <!-- 사이드바 시작 -->
        <ul class="surfaceUl">
          <li class="surfaceUlLists">
            <a class="aList" href="/admin/resident-list">
              <img class="svg4" src="/images/complain-management-image/profile-user.png"/>
              <span class="surfaceCategory">입주민 목록</span>
            </a>
          </li>
                <li id="flex" class="surfaceUlLists">
                    <a class="aList" href="/admin/maintenance-fee-view">
                        <img class="svg5" src="/images/complain-management-image/coin.png"/>
                        <span class="surfaceCategory">아파트 관리비</span>
                    </a>
                    <button class="toggleButton">
                        <img style="width: 100%; opacity: 60%" class="svg5" src="/images/complain-management-image/down.png">
                    </button>
                </li>
                <ul class="feeLists">
                    <li class="surfaceUlLists">
                        <a style="padding-left: 30px; opacity: 70%"  class="aList" href="/admin/maintenance-fee-view">
                            <span class="surfaceCategory">| 관리비 조회</span>
                        </a>
                    </li>
                    <li class="surfaceUlLists">
                        <a style="padding-left: 30px; opacity: 70%"  class="aList" href="/admin/maintenance-fee-upload">
                            <span class="surfaceCategory">| 관리비 업로드</span>
                        </a>
                    </li>
                </ul>
                <li style="  background-color: rgba(162, 218, 255, 0.35);" id="flex2" class="surfaceUlLists">
                    <a class="aList" href="/admin/complain-management">
                        <img class="svg5" src="/images/complain-management-image/feedback.png"/>
                        <span class="surfaceCategory">민원 관리</span>
                    </a>
                </li>
          <li class="surfaceUlLists">
            <a class="aList" href="/admin/visit-vehicle">
              <img class="svg5" src="/images/complain-management-image/car-fill-from-frontal-view.png"/>
              <span class="surfaceCategory">방문 차량</span>
            </a>
          </li>
          <li class="surfaceUlLists">
            <a class="aList" href="/admin/announcement-list">
              <img class="svg5" src="/images/complain-management-image/report.png"/>
              <span class="surfaceCategory">공지사항 목록</span>
            </a>
            <button class="toggleButton">
              <img style="width: 100%; opacity: 60%" class="svg5" src="/images/announcement-admin-image/down.png">
            </button>
          </li>
          <ul class="feeLists">
            <li class="surfaceUlLists">
              <a style="padding-left: 30px; opacity: 70%"  class="aList" href="/admin/announcement-list">
                <span class="surfaceCategory">| 공지사항 목록</span>
              </a>
            </li>
            <li style=" background-color: rgba(162, 218, 255, 0.35);" class="surfaceUlLists">
              <a style="padding-left: 30px; opacity: 70%"  class="aList" href="/admin/announcement-write">
                <span class="surfaceCategory">| 공지사항 작성</span>
              </a>
            </li>
          </ul>
          <li class="surfaceUlLists">
            <a class="aList" href="/admin/board-list">
              <img class="svg5" src="/images/announcement-admin-image/4.png"/>
              <span class="surfaceCategory">게시판 목록</span>
            </a>
          </li>
        </ul>
        <!-- 여기까지 사이드바 -->
      </nav>
      <!--관리자비페이지시작-->
      <div class="entireWrapper">
        <div class="entireWrapperInner">
          <div class="wrapperInnerGrid">
            <header class="innerGridHeader">
              <h1 class="maintenanceFeeHeader">민원 관리</h1>
            </header>
            <div class="maintenanceFeeBanner">
              <div class="flex1">
                <div class="flex-shrink">
                  <h1 class="registerFee">입주민이 새로 요청한 민원은 <strong>"접수완료"</strong>상태로 아래 목록에 표시됩니다<br> [ US EARTH ] 앱 서비스를
                    통해 민원을 요청한 입주민에게 처리 상태 정보가 공유됩니다.
                  </h1>
                  <div class="marginTop8">
                    <button type="button" class="resetBtn">
                      <span class="resetSpan">검색 초기화</span>
                    </button>
                    <button type="button" class="registerMaintenanceFeeBtn">민원 조회</button>
                  </div>
                </div>
                <div class="maintenanceFeePicture">
                  <span class="innerPicture">
                    <img class="bankingPicture" src="/images/complain-management-image/complain.png"
                         sizes="100vw">
                    <noscript></noscript>
                  </span>
                </div>
              </div>
            </div>
            <div class="maintenanceFeeTitle">
              <div class="grid">
                <span class="maintenanceFeeSpan">카테고리 |</span>
                <span class="maintenanceFeeSpan">검색 |</span>
              </div>
              <div class="flexGap12">
                <div class="searchContainer">
                  <button id="rangeCategory2Btn" type="button" class="imposeYear">
                    <span id="categorySpan2" class="imposeYearSpan">카테고리 선택</span>
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="imposeYearSvg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.27 8.42a1.076 1.076 0 0 1 1.587-.13L12 14.832l7.143-6.544a1.076 1.076 0 0 1 1.586.13 1.26 1.26 0 0 1-.122 1.696L12 18l-8.607-7.885A1.26 1.26 0 0 1 3.27 8.42Z"></path>
                    </svg>
                  </button>
                  <div id="rangeCategory" class="rangeModal">
                    <ul class="rangeModalUl">
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns2">카테고리 선택</button>
                      </li>
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns2">
                          공동생활
                        </button>
                      </li>
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns2">
                          엘리베이터
                        </button>
                      </li>
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns2">
                          공동현관/복도
                        </button>
                      </li>
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns2">
                          주차장
                        </button>
                      </li>
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns2">
                          보안/경비
                        </button>
                      </li>
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns2">
                          도로/인도
                        </button>
                      </li>
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns2">
                          조명/조경
                        </button>
                      </li>
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns2">
                          커뮤니티 시설
                        </button>
                      </li>
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns2">
                          기타
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="searchContainer">
                  <input type="text" id="searchTitle" placeholder="입주자 닉네임, 제목으로 찾기" class="imposeYear">
                </div>
              </div>
              <div class="grid">
                <span class="maintenanceFeeSpan">상태 |</span>
                <span class="maintenanceFeeSpan">등록일시 |</span>
              </div>
              <div class="flexGap12">
                <div class="searchContainer">
                  <button id="rangeCategoryBtn" type="button" class="imposeYear">
                    <span id="categorySpan" class="imposeYearSpan">전체</span>
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                         class="imposeYearSvg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M3.27 8.42a1.076 1.076 0 0 1 1.587-.13L12 14.832l7.143-6.544a1.076 1.076 0 0 1 1.586.13 1.26 1.26 0 0 1-.122 1.696L12 18l-8.607-7.885A1.26 1.26 0 0 1 3.27 8.42Z"></path>
                    </svg>
                  </button>
                  <div id="rangeBuilding" class="rangeModal">
                    <ul class="rangeModalUl">
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns">접수완료</button>
                      </li>
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns">
                          진행중
                        </button>
                      </li>
                      <li>
                        <button type="button" class="rangeModalBtn categoryBtns">
                          처리완료
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div style="display: flex; justify-content: space-around" class="searchContainer">
                  <input style="max-width: 200px" type="date" name="startDate" class="imposeYear" placeholder="">
                  <span > _ </span>
                  <input style="max-width: 200px"  type="date" name="endDate" class="imposeYear" placeholder="">
                </div>
              </div>
            </div>
            <hr style="background-color: rgba(44,136,239,0.31); height: 1.2px">
            <div class="complainTitle">
              <span id="total" class="maintenanceFeeSpan"></span>
              <div  class="complainTitle">
                <span id="receptionCount" class="complainSpan"></span>
                <span class="complainSpan">|</span>
                <span id="processingCount" class="complainSpan"></span>
                <span class="complainSpan">|</span>
                <span id="completeCount" class="complainSpan"></span>
              </div>
            </div>
            <div class="maintenanceFeeBar">
              <div  class="barBtnOne">카테고리</div>
              <div class="barBtnOne">닉네임</div>
              <div style="width: 180px;" class="barBtnOne">제목</div>
              <div style="width: 140px;" class="barBtnOne">등록일시</div>
              <div style="width: 140px;"  class="barBtnOne">답변일시</div>
              <div class="barBtnOne">상태</div>
              <div class="barBtnOne">민원처리</div>
            </div>
            <ul class="complainList"></ul>
<!--   아래는 민원이 한 개도 없을 때 나타나야 할 div입니다.-->
            <div class="listNone"></div>
            <!--                        버튼-->
            <div id="pagination" class="col-span-full margins">
              <ul class="flex-me">
                <li>
                  <button id="prevButton"  type="button" class="rounded-full">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="hw16">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M15.58 3.27c.504.405.563 1.115.13 1.587L9.168 12l6.543 7.143a1.076 1.076 0 0 1-.13 1.586 1.26 1.26 0 0 1-1.695-.122L6 12l7.885-8.607a1.26 1.26 0 0 1 1.695-.122Z">
                      </path>
                    </svg>
                  </button>
                </li>
                <ul class="pageButtonLists"></ul>
                <li class="li-ml">
                  <button id="nextButton" type="button" class="rounded-full">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="hw16">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.42 20.73a1.076 1.076 0 0 1-.13-1.587L14.832 12 8.289 4.857a1.076 1.076 0 0 1 .13-1.586 1.26 1.26 0 0 1 1.696.122L18 12l-7.885 8.607a1.26 1.26 0 0 1-1.695.122Z">
                      </path>
                    </svg>
                  </button>
                </li>
              </ul>
            </div>
            <!--                        -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="zIndex0"></div>
  <div class="zIndex10" id="modalContainer">
    <div class="modalWindow">
      <h4 class="modalTitle">민원처리 상태 변경</h4>
      <div class="modalContent"></div>
      <div class="modalBtns">
        <div class="cancelWrapper">
          <button type="button" class="cancelBtn">취소</button>
        </div>
        <div class="confirmWrapper">
          <button type="button" class="confirmBtn">확인</button>
        </div>
      </div>
    </div>
    <div class="modalWrapperGray"></div>
  </div>
</div>
</body>
<script th:inline="javascript">
  const admin = [[${session.admin}]]
  let paginationInfo = [[${pagination}]];
  let receptionCount = [[${receptionCount}]];
</script>
<script src="/js/admin/complain-management.js"></script>
</html>
