<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.app.usearth.domain.AdminVO" alias="adminVO"/>
        <typeAlias type="com.app.usearth.domain.UserVO" alias="userVO"/>
        <typeAlias type="com.app.usearth.domain.UserDTO" alias="userDTO"/>
        <typeAlias type="com.app.usearth.domain.ApartmentVO" alias="apartmentVO"/>
        <typeAlias type="com.app.usearth.domain.SearchAptDTO" alias="searchAptDTO"/>
        <typeAlias type="com.app.usearth.domain.UserProfileVO" alias="userProfileVO"/>
        <typeAlias type="com.app.usearth.domain.PostVO" alias="postVO" />
        <typeAlias type="com.app.usearth.domain.ReserveCarVO" alias="reserveCarVO" />
        <typeAlias type="com.app.usearth.domain.ComplainDTO" alias="complainDTO" />
        <typeAlias type="com.app.usearth.domain.CommentDTO" alias="commentDTO" />
        <typeAlias type="com.app.usearth.domain.PostDTO" alias="postDTO" />
        <typeAlias type="com.app.usearth.domain.ReserveCarDTO" alias="reserveCarDTO" />
        <typeAlias type="com.app.usearth.domain.AdminVisitDTO" alias="adminVisitDTO" />
        <typeAlias type="com.app.usearth.domain.SearchVisitDTO" alias="searchVisitDTO"/>
        <typeAlias type="com.app.usearth.domain.ComplainVO" alias="complainVO" />
        <typeAlias type="com.app.usearth.domain.ComplainAdminDTO" alias="complainAdminDTO"/>
        <typeAlias type="com.app.usearth.domain.SearchComplain" alias="searchComplain"/>
        <typeAlias type="com.app.usearth.domain.SearchComplainDTO" alias="searchComplainDTO"/>
        <typeAlias type="com.app.usearth.domain.ComplainReplyVO" alias="complainReplyVO"/>
        <typeAlias type="com.app.usearth.domain.ComplainReplyDTO" alias="complainReplyDTO"/>
        <typeAlias type="com.app.usearth.domain.CategoryComplainVO" alias="categoryComplainVO"/>
        <typeAlias type="com.app.usearth.domain.AnnouncementCategoryVO" alias="announcementCategoryVO"/>
        <typeAlias type="com.app.usearth.domain.AnnouncementVO" alias="announcementVO"/>
        <typeAlias type="com.app.usearth.domain.AnnouncementDTO" alias="announcementDTO"/>
    </typeAliases>
</configuration>