<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/mypage/complain-detail.css">
    <title>민원접수 상세보기</title>
</head>
<body>
<div id="app">
    <div class="titleTop">
        <div class="headerContainer">
            <div class="headerWrapper">
                <div class="topBar">
                    <div class="application newGrid container" style="background-color: inherit">
                        <div class="application newRow">
                            <div class="application newCol1 newCol2">
                                <div class="topBarContainer">
                                    <div class="topBarBackward">
                                        <svg data-v-bd9f2bcc="" data-v-09aeb421="" width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" class="image0 pointer iconLink application icon0" data-v-59015b26="" style="fill: rgb(60, 65, 68);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M4.21913 11.3753C3.92696 11.7405 3.92696 12.2595 4.21913 12.6247L8.21913 17.6247C8.56414 18.056 9.19343 18.1259 9.62469 17.7809C10.056 17.4359 10.1259 16.8066 9.78087 16.3753L6.28062 12L9.78087 7.6247C10.1259 7.19344 10.056 6.56415 9.62469 6.21914C9.19343 5.87413 8.56414 5.94405 8.21913 6.37531L4.21913 11.3753Z"></path><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M20 12C20 11.4477 19.5523 11 19 11H6C5.44771 11 5 11.4477 5 12C5 12.5523 5.44771 13 6 13H19C19.5523 13 20 12.5523 20 12Z"></path></svg>
                                        <div class="topTitle application typography body1" style="color: rgb(4,5,5); font-weight: 500;">민원접수 상세보기</div>
                                    </div>
                                    <div class="topBarContent">
                                        <div class="flex alignCenter">
                                            <ul class="flex inform3 headerInfoSectionList"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fakeHeader noSub"></div>
            </div>
            <div class="notiDrawer"></div>
        </div>
    </div>
    <div id="mainContent" class="application newGrid mainGridComponent fluid" style="min-height: calc(100vh - 324px); background-color: rgb(243,244,245);">
        <div class="application newRow">
            <div class="application newCol1 readCaseContainer newColSm4 newColLg12">
                <div class="application newGrid fluid" style="background-color: rgb(255,255,255);">
                    <div class="application newRow">
                        <div class="application newCol1 newColLg8 newOffsetLg2">
                            <article class="application cBox" style="background-color: rgb(255,255,255); padding: 32px 16px 16px;">
                                <div class="flex justifyBetweeen">
                                    <div class="application userInformation caseDetailQuestionUserInfo simple mb16">
                                        <div class="avatarWrapper">
                                            <div>
                                                <div class="application avatarContainer xSmall">
                                                    <i class="avatar nickname xSmall" style="background: rgb(145,207,211)"></i>
                                                    <div class="avatarItem">
                                                        <div class="topTitle application typography caption2 semiBold" style="color: rgb(255,255,255)">천</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="informationWrapper">
                                            <div class="nameCompanyWrapper">
                                                <div class="nameIconWrapper">
                                                    <div class="nameWrapper">
                                                        <div class="application typography userInformationName ellipsis caption1" style="color: inherit; font-weight: 600;">00</div>
                                                    </div>
                                                    <div class="infoArea userInfoWrapper"></div>
                                                </div>
                                            </div>
                                            <div class="otherWrapper"></div>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="topTitle application typography content headline7 contentTitle" style="color: rgb(4,5,5);">
                                    <span class="topTitle application typography" style="color: rgb(42,125,225);">Q.</span>
                                    <span class="topTitle application typography headline7 medium purifiedHtml" style="color: inherit;">윗층 층간소음이 심합니다.</span>
                                </h2>
                                <p class="topTitle application typography content body1 contentBody" style="color: rgb(32,35,37);">
                                    <span class="topTitle purifiedHtml">
                                        층간소음으로 몇 번 주의를 주었는데 상황이 나아지지 않고 있습니다. 신속한 대책마련 부탁드립니다.
                                    </span>
                                </p>
                                <p class="topTitle application typography application content body2 contentCaption" style="color: rgb(207,212,215);">
                                    2023.01.01
                                </p>
                            </article>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </div>
</body>
</html>