<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/mypage/modify-mypassword.css">
    <title>비밀번호 재설정</title>
</head>
<body>
<div>
    <div id="app">
        <div class="titleTop">
            <div class="headerContainer">
                <div class="headerWrapper">
                    <div class="topBar">
                        <div class="application newGrid container" style="background-color: inherit">
                            <div class="application newRow">
                                <div class="application newCol1 newCol2">
                                    <div class="topBarContainer">
                                        <div class="topBarBackward">
                                            <svg data-v-bd9f2bcc="" data-v-09aeb421="" width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" class="image0 pointer iconLink application icon0" data-v-59015b26="" style="fill: rgb(60, 65, 68);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M4.21913 11.3753C3.92696 11.7405 3.92696 12.2595 4.21913 12.6247L8.21913 17.6247C8.56414 18.056 9.19343 18.1259 9.62469 17.7809C10.056 17.4359 10.1259 16.8066 9.78087 16.3753L6.28062 12L9.78087 7.6247C10.1259 7.19344 10.056 6.56415 9.62469 6.21914C9.19343 5.87413 8.56414 5.94405 8.21913 6.37531L4.21913 11.3753Z"></path><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M20 12C20 11.4477 19.5523 11 19 11H6C5.44771 11 5 11.4477 5 12C5 12.5523 5.44771 13 6 13H19C19.5523 13 20 12.5523 20 12Z"></path></svg>
                                            <div class="topTitle application typography body1" style="color: rgb(4,5,5); font-weight: 500;">비밀번호 재설정</div>
                                        </div>
                                        <div class="topBarContent">
                                            <div class="flex alignCenter">
                                                <ul class="flex inform3 headerInfoSectionList"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fakeHeader noSub"></div>

    <di></di>
    <!--    -->
    <div class="mainGrid" style="min-height: calc(100vh - 324px); background-color: rgb(255, 255, 255);">
        <div class="loginRow">
            <div class="loginStartWrap">
                <div class="loginView">
                    <div class="loginViewList" style="background-color: rgb(255, 255, 255); padding: 60px 38.5px;">
                    <div class="semiBold" style="color: rgb(32, 35, 37); line-height: 140%; font-size: 24px;">
                        US EARTH<br>
                        비밀번호 재설정
                    </div>
                    <div class="add">
                        <div class="fontSize2" style="color: rgb(60, 65, 68);">비밀번호</div>
                        <span>
                            <div class="relative">
                                <div class="relative">
                                 <input id="password" placeholder="비밀번호" name="password" autocomplete="off" type="password" color="primary" class="outline" style="text-align: left;">
                                </div>
                            </div>
                        </span>
                        <div class="fontSize2" style="color: rgb(60, 65, 68);">비밀번호확인</div>
                        <span>
                            <div class="relative">
                                <div class="relative">
                                 <input id="passwordConfirm" placeholder="비밀번호 확인" name="passwordConfirm" autocomplete="off" type="password" color="primary" class="outline" style="text-align: left;">
                                </div>
                            </div>
                        </span>
                        <div id="result">
                        </div>
                        <button class="loginBtn" onclick="confirmPassword()">
                            <div class="buttonIcon"></div>
                            <div class="login" style="color: inherit;">비밀번호 수정</div>
                            <div class="buttonIcon"></div>
                        </button>
                     </div>
                  </div>
              </div>
           </div>
        </div>
     </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="/js/mypage/modify-mypassword.js"></script>
</html>