<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/mypage/mypage.css">

    <title>UsEarth- 모바일 마이페이지</title>
</head>
<body>
    <div id="nuxt">
        <!---->
        <div id="layout">
            <div>
                <!---->
                <div id="mainGrid" class="application newGrid mainGridComponent fluid" style="min-height: calc(100vh - 324px); background-color: rgb(252,252,252)">
                    <div class="application newRow">
                        <div class="application newCol1 myPageContainer newCol2 newCol3">
                            <hr class="application divider line horizontal #F3F4F5" style="border-color: rgb(243,244,245);">
                            <div class="application newGrid fluid" style="background-color: inherit">
                                <div class="application newRow">
                                    <!---->
                                    <div class="application newCol1 myPageArticle newCol2 newCol5">
                                        <div class="myPageMobileProfile">
                                            <div class="imageUpLoadWrapper">
                                                <label for="imageUpLoadWrapper">
                                                    <div class="application avatarContainer large" style="width: 60px; height: 60px">
                                                        <i class="avatar image large" style="background-image: url(/static/images/photo-camera.png); width: 60px; height: 60px;"></i>
                                                        <div class="avatarItem">
                                                            <!---->
                                                            <!---->
                                                            <!---->
                                                        </div>
                                                    </div>
                                                </label>
                                                <input type="file" id="imageUpLoadWrapper" accept="image/jpg,image/png,image/jpeg,image/gif">
                                            </div>
                                            <div class="flex flexColumn inform2">
                                                <div class="flex alignItemsCenter userName2">
                                                    <div class="application typography headLine5 semiBold" style="color: rgb(32,35,37)">00</div>
<!--                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" class="inform icon3 application icon0" style="fill: rgb(173,179,184); transform: rotate(90deg);">-->
<!--                                                        <path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L19.2071 13.7929C19.5976 14.1834 19.5976 14.8166 19.2071 15.2071C18.8166 15.5976 18.1834 15.5976 17.7929 15.2071L12 9.41421L6.20711 15.2071C5.81658 15.5976 5.18342 15.5976 4.79289 15.2071C4.40237 14.8166 4.40237 14.1834 4.79289 13.7929L11.2929 7.29289Z"></path>-->
<!--                                                    </svg>-->
                                                </div>
                                              <div class="flex">
                                                  <div class="socialIconWrapper icon1 icon2 kakao" style="height: 14px; min-width: 14px">
                                                      <img width="8" height="8" src="https://cdn.comento.kr/icon/icon-kakao-medium.svg" alt>
                                                  </div>
                                                  <div class="application typography inform caption1" style="color: rgb(89,95,99); font-weight: 300;">
                                                      Us@Earth.com
                                                  </div>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="application newCol1 newCol2 newCol3 noGutters"></div>
                                        <!---->
                                        <div class="application newCol1 myPageHome newCol6 newCol3 noGutters"></div>
                                        <div class="myPageMobileMenu">
                                            <a href="" class="myPageMobileMenuItem full">
                                                <div class="myPageAsideMenuButton">
                                                    <div>
                                                        <div class="application typography relative body1" style="color: rgb(4,5,5); font-weight: 400;">
                                                            <!---->
                                                            민원 접수
                                                        </div>
                                                    </div>
                                                </div>
                                                <svg width="12" height="12" viewBox="0 0 12 12" fill="black" xmlns="http://www.w3.org/2000/svg" class="application icon0" style="fill: rgb(118, 125, 130); transform: rotate(90deg);"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.64645 3.64645C5.84171 3.45118 6.15829 3.45118 6.35355 3.64645L9.85355 7.14645C10.0488 7.34171 10.0488 7.65829 9.85355 7.85355C9.65829 8.04882 9.34171 8.04882 9.14645 7.85355L6 4.70711L2.85355 7.85355C2.65829 8.04882 2.34171 8.04882 2.14645 7.85355C1.95118 7.65829 1.95118 7.34171 2.14645 7.14645L5.64645 3.64645Z"></path></svg>
                                            </a>
                                            <a href="" class="myPageMobileMenuItem full isShowBottomBorder">
                                                <div class="myPageAsideMenuButton">
                                                    <div>
                                                        <div class="application typography relative body1" style="color: rgb(4,5,5); font-weight: 400;">
                                                            <!---->
                                                            내가 작성한 글
                                                        </div>
                                                    </div>
                                                </div>
                                                <svg width="12" height="12" viewBox="0 0 12 12" fill="black" xmlns="http://www.w3.org/2000/svg" class="application icon0" style="fill: rgb(118, 125, 130); transform: rotate(90deg);"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.64645 3.64645C5.84171 3.45118 6.15829 3.45118 6.35355 3.64645L9.85355 7.14645C10.0488 7.34171 10.0488 7.65829 9.85355 7.85355C9.65829 8.04882 9.34171 8.04882 9.14645 7.85355L6 4.70711L2.85355 7.85355C2.65829 8.04882 2.34171 8.04882 2.14645 7.85355C1.95118 7.65829 1.95118 7.34171 2.14645 7.14645L5.64645 3.64645Z"></path></svg>
                                            </a>
                                            <a href="" class="myPageMobileMenuItem full">
                                                <div class="myPageAsideMenuButton">
                                                    <div>
                                                        <div class="application typography relative body1" style="color: rgb(4,5,5); font-weight: 400;">
                                                            <!---->
                                                            방문 차량 예약
                                                        </div>
                                                    </div>
                                                </div>
                                                <svg width="12" height="12" viewBox="0 0 12 12" fill="black" xmlns="http://www.w3.org/2000/svg" class="application icon0" style="fill: rgb(118, 125, 130); transform: rotate(90deg);"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.64645 3.64645C5.84171 3.45118 6.15829 3.45118 6.35355 3.64645L9.85355 7.14645C10.0488 7.34171 10.0488 7.65829 9.85355 7.85355C9.65829 8.04882 9.34171 8.04882 9.14645 7.85355L6 4.70711L2.85355 7.85355C2.65829 8.04882 2.34171 8.04882 2.14645 7.85355C1.95118 7.65829 1.95118 7.34171 2.14645 7.14645L5.64645 3.64645Z"></path></svg>
                                            </a>
                                            <a href="" class="myPageMobileMenuItem full">
                                                <div class="myPageAsideMenuButton">
                                                    <div>
                                                        <div class="application typography relative body1" style="color: rgb(4,5,5); font-weight: 400;">
                                                            <!---->
                                                            개인 정보 조회
                                                        </div>
                                                    </div>
                                                </div>
                                                <svg width="12" height="12" viewBox="0 0 12 12" fill="black" xmlns="http://www.w3.org/2000/svg" class="application icon0" style="fill: rgb(118, 125, 130); transform: rotate(90deg);"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.64645 3.64645C5.84171 3.45118 6.15829 3.45118 6.35355 3.64645L9.85355 7.14645C10.0488 7.34171 10.0488 7.65829 9.85355 7.85355C9.65829 8.04882 9.34171 8.04882 9.14645 7.85355L6 4.70711L2.85355 7.85355C2.65829 8.04882 2.34171 8.04882 2.14645 7.85355C1.95118 7.65829 1.95118 7.34171 2.14645 7.14645L5.64645 3.64645Z"></path></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>