<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/mypage/reserve-carlist.css">
    <title>차량등록현황</title>
</head>
<body>
<div id="app">
    <div class="titleTop">
        <div class="headerContainer">
            <div class="headerWrapper">
                <div class="topBar">
                    <div class="application newGrid container" style="background-color: inherit">
                        <div class="application newRow">
                            <div class="application newCol1 newCol2">
                                <div class="topBarContainer">
                                    <div class="topBarBackward">
                                        <svg data-v-bd9f2bcc="" data-v-09aeb421="" width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" class="image0 pointer iconLink application icon0" data-v-59015b26="" style="fill: rgb(60, 65, 68);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M4.21913 11.3753C3.92696 11.7405 3.92696 12.2595 4.21913 12.6247L8.21913 17.6247C8.56414 18.056 9.19343 18.1259 9.62469 17.7809C10.056 17.4359 10.1259 16.8066 9.78087 16.3753L6.28062 12L9.78087 7.6247C10.1259 7.19344 10.056 6.56415 9.62469 6.21914C9.19343 5.87413 8.56414 5.94405 8.21913 6.37531L4.21913 11.3753Z"></path><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M20 12C20 11.4477 19.5523 11 19 11H6C5.44771 11 5 11.4477 5 12C5 12.5523 5.44771 13 6 13H19C19.5523 13 20 12.5523 20 12Z"></path></svg>
                                        <div class="topTitle application typography body1" style="color: rgb(4,5,5); font-weight: 500;">등록 현황</div>
                                    </div>
                                    <div class="topBarContent">
                                        <div class="flex alignCenter">
                                            <ul class="flex inform3 headerInfoSectionList">
                                                <a href="/mypage/reserve-car">
                                                <button type="button" class="application cButton applyView medium primary full fill">
                                                    <div class="cButtonIcon"></div>
                                                    <div class="application typography body1 semiBold" style="color: inherit;">신청하기</div>
                                                    <div class="cButtonIcon"></div>
                                                </button>
                                                </a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fakeHeader noSub"></div>
             </div>
            <hr class="application divider line horizontal my12" style="border-color: rgb(243,244,245)">
            <div class="application newCol1 myPageCommunity newColSm4 newCol1g12 noGutters">
<!--                <div>-->
<!--                    <div class="application list myPageCommunityList">-->
<!--                        <div class="application listItem myPageCommunityListItem myPageCommunityCard medium pointer">-->
<!--                            <div class="topTitle application typography wFull body2" style="color: rgb(173,179,184);">-->
<!--                                <div class="application typography myPageCommunityListItemTitle body3" style="color: rgb(60,65,68)">방문목적:-->
<!--                                <span class="purpose">수리</span>-->
<!--                                    <div class="topTitle flex alignItemsCenter">-->
<!--                                        <div class="application typography caption1 semiBold" style="color: rgb(60,65,68)">-->
<!--                                            차량번호:-->
<!--                                            <span class="carNumber">000서0000</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="topTitle flex alignItemsCenter">-->
<!--                                        <div class="application typography caption1 semiBold" style="color: rgb(60,65,68)">-->
<!--                                            차량종류:-->
<!--                                            <span class="carNumber">아반떼</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="topTitle application typography myPageCommunityListItemTitle body3" style="color: rgb(60,65,68)">방문시작일:-->
<!--                                        <span class="startDate">2023/01/01</span>-->
<!--                                    </div>-->
<!--                                    <div class="topTitle application typography myPageCommunityListItemTitle body3" style="color: rgb(60,65,68)">방문종료일:-->
<!--                                        <span class="endDate">2023/01/01</span>-->
<!--                                    </div>-->
<!--                                    <div class="topTitle flex flexColumn">-->
<!--                                        <div class="topTitle application typography textRight" style="color: rgb(173,179,184);">0초 전</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <hr class="application divider line horizontal my12" style="border-color: rgb(243,244,245)">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
         </div>
     </div>
   </div>
</body>

<script th:inline="javascript">
    const user=[[${session.user.id}]];
</script>
<script type="module" src="/js/mypage/common.js"></script>
<script type="module" src="/js/mypage/reserve-carlist.js"></script>
</html>