@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

*,
::after,
::before {
  background: transparent;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: Pretendard, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
  Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
  margin: 0;
  line-height: inherit;
}

.wrap {
  min-height: 100%;
}

.innerWrapper {
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.innerWrapperNav {
  padding-left: 32px;
  padding-right: 32px;
  height: 58px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  z-index: 20;
  left: 0;
  top: 0;
  position: sticky;
  background-color: rgb(234, 226, 204);
}

.navInner {
  align-items: center;
  display: flex;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.aBelow {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  fill: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapperBody {
  align-items: center;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3a310d;
  fill: #fff;
}

.innerBody {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.overflow {
  overflow: hidden;
  height: 100%;
  display: flex;
}

.relative {
  position: relative;
}


.profileBtn {
  border-radius: 9999px;
  width: 32px;
  height: 32px;
  position: relative;
  background-color: #e6e6e7;
  cursor: pointer;
  background-image: none;
}

/* 프로필모달 */

.profileModalWrapper {
  top: 45px;
  min-width: 204px;
  right: 0;
  z-index: 20;
  position: absolute;
  display: none;
}

.profileUl {
  --tw-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.16);
  --tw-shadow-colored: 0px 1px 0px var(--tw-shadow-color), 0px 2px 6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  list-style: none;
  margin: 0;
}

.profileLi1 {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-width: 1px;
  gap: 2px;
  flex-direction: column;
  display: flex;
  border-color: #f3f3f4;
}

#profileName {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

#profileEmail {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666667;
  fill: #666667;
}

.profileModalBtns {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #1d1d1e;
  fill: #1d1d1e;
  background-color: #fff;
}

.profileModalBtns:hover {
  background-color: rgba(199, 180, 167, 0.05);
  border-radius: 4px;
}

.kakaoBtn {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 234 43 / var(--tw-bg-opacity));
  border-radius: 8px;
  column-gap: 10px;
  align-items: center;
  width: 100%;
  display: flex;
  background-image: none;
}

.kakao1 {
  width: 20px;
  height: 20px;
  color: #1d1d1e;
  fill: #1d1d1e;
  display: block;
}

.kakao2 {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #333334;
  fill: #333334;
}

.svgKakao {
  width: 12px;
  height: 12px;
  color: #333334;
  fill: #333334;
  display: block;
}

.rounded-full {
  border-radius: 9999px;
}

.svg2 {
  display: block;
  width: 50px;
  height: 40px;
}

.uploadBar {
  border-bottom-width: 1px;
  align-items: center;
  min-width: 944px;
  height: 68px;
  display: flex;
  z-index: 10;
  top: 0;
  position: sticky;
  border-color: #e6e6e7;
  background-color: #fff;
}

.uploadBarInner {
  justify-content: space-between;
  align-items: center;
  min-width: 944px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.uploadBarLeft {
  align-items: center;
  display: flex;
  color: #1d1d1e;
  fill: #1d1d1e;
}

.uploadBarRight {
  align-items: center;
  display: flex;
}

.backBtn {
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  margin-right: 16px;
  background-color: #f3f3f4;
  cursor: pointer;
}
.backBtnSvg {
  width: 16px;
  height: 16px;
  display: block;
  vertical-align: middle;
}

.uploadH1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.uploadRightBtn {
  color: #b9b9bb;
  fill: #b9b9bb;
  background-color: #f3f3f4;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  height: 40px;
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  cursor: default;
}

.uploadMain {
  padding-top: 48px;
  padding-bottom: 48px;
}

.InnerUploadMain {
  padding-bottom: 64px;
  row-gap: 0;
  column-gap: 16px;
  grid-template-columns: repeat(12,minmax(0,1fr));
  width: 944px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.uploadSideBar {
  border-right-width: 1px;
  grid-column: span 4/span 4;
  border-color: #f3f3f4;
}

.uploadMainPart {
  padding-left: 80px;
  grid-column-start: 6;
  grid-column: span 7/span 7;
}

.sideBarInner {
  top: 174px;
  position: sticky;
}

ul, ol, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.uploadList {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}

.uploadListInnerDiv {
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  display: flex;
  margin-right: 18px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  fill: #fff;
  background-color: #2a2826;
}

.uploadListInnerStrong {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

.confirmSvg {
  width: 16px;
  height: 16px;
  display: block;
  vertical-align: middle;
}

.uploadSection {
  margin-bottom: 48px;
}

.imposingMonth {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #333334;
  fill: #333334;
}

.imposingMonthLabel {
  padding-right: 16px;
  padding-left: 20px;
  margin-bottom: 16px;
  border-width: 1px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  height: 48px;
  display: flex;
  border-color: rgba(0,0,0,.1);
  background-color: #fff;
}

.flex {
  display: flex;
}

.imposingYear {
  outline: 2px solid transparent;
  outline-offset: 2px;
  cursor: pointer;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1d1d1e;
  fill: #1d1d1e;

}

.downSvg {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  color: #333334;
  fill: #333334;
  display: block;
  vertical-align: middle;
}

.fileUploadBtn {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  min-width: 88px;
  width: 100%;
  height: 48px;
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  fill: #fff;
  background-color: #3a3a3a;
}

.flexCenter {
  justify-content: center;
  align-items: center;
  display: flex;
}

.noViewInput {
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  position: absolute;
}

.csvSvg {
  flex-shrink: 0;
  margin-right: 4px;
  display: block;
  vertical-align: middle;
}
