<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Us Earth 게시판 글작성</title>
    <link rel="stylesheet" href="/static/css/recyclingAgnetWrite/recyclingAgentWrite.css">
</head>
<body>
    <div class="freeBoardMainLayout" style="min-height: calc(100vh - 324px); background-color: rgb(255, 255, 255);">
        <div class="mainLayoutFreeBoard">
            <div class="layoutMainFreeBoard">
                <span>
                    <div class="freeBoardMainTool" style="background-color: inherit;">
                        <div class="toolFreeBoardMain">
                            <div class="mainBoardFreeTool" id="request">
                                <div class="requestContainer">
                                    <h2 class="requestContainerTitle">
                                        재활용 대행 신청하기
                                        <p class="requestContainerSubTitle">
                                            <strong>이웃</strong>과
                                            <strong>함께하는 분리수거 공간</strong>
                                        </p>
                                    </h2>
                                    <div class="requestBox">
<!--                                        usEarth와는 성격이 달라 사용하지 않기로 하여 제외시킴-->
<!--                                        <div class="categoryWrapper">-->
<!--                                            <span>-->
<!--                                                <div id="dropDown" class="dropDown small">-->
<!--                                                    <div class="dropDownItemGroup" style="max-width: 240px;">-->
<!--                                                        <div>-->
<!--                                                            <div class="selectBoxBasic">-->
<!--                                                                <div class="selectItem">-->
<!--                                                                    <input type="text" placeholder="카테고리" readonly="readonly" class="selectInput">-->
<!--                                                                </div>-->
<!--                                                                <div class="selectIcon">-->
<!--                                                                    <svg data-v-bd9f2bcc="" data-v-0227870c="" width="10" height="5" viewBox="0 0 10 5" fill="#595F63" xmlns="http://www.w3.org/2000/svg" class="iconSelect" data-v-04ae911b="" style="fill: rgb(118, 125, 130);">-->
<!--                                                                        <path data-v-bd9f2bcc="" d="M5.35356 4.64645C5.1583 4.84171 4.84171 4.84171 4.64645 4.64645L0.853554 0.853553C0.538572 0.538571 0.761655 1.46033e-07 1.20711 1.84975e-07L8.79289 -1.05529e-07C9.23835 -6.65858e-08 9.46143 0.538571 9.14645 0.853553L5.35356 4.64645Z"></path>-->
<!--                                                                    </svg>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </span>-->
<!--                                        </div>-->
                                        <div class="titleLineBox">
                                            <span>
                                                <div class="lineBoxTitle">
                                                    <div class="titleBoxLine">
                                                        <input id="postWriteTitle" placeholder="제목을 입력하세요" name="writePost" label align="left" autocomplete="off" type="text" class="postWrite" style="text-align: left;">
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                        <span>
                                            <div class="textAreaWrapper">
<!--                                                원본코드는 'cols="30" rows="10"'-->
                                                <textarea cols="50" rows="20" placeholder="도와주거나 대신할 이웃을 찾아봐요." maxlength="1000" class="writeTextArea"></textarea>
                                            </div>
                                            <div class="numberCharacters">
                                                글자수 :
                                                <span id="characterLength" class="lengthCharacter">0</span> / 1000
                                            </div>
                                        </span>
                                        <div class="postTextSend">
                                            <div class="textPostSend">
                                                <button class="sendTextPost">
                                                    <div class="sendTextButtonIcon"></div>
                                                    재활용 대행 신청하기
                                                    <div class="sendTextButtonIcon"></div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</body>
</html>