<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../../static/css/socialLogin/socialLogin.css">
<body>
<div>
<!--  nav-->
  <div></div>
<!--  -->
    <div class="mainGrid" style="min-height: calc(100vh - 324px); background-color: rgb(255, 255, 255);">
      <div class="loginRow">
       <div class="loginStartWrap">
        <div class="loginView" style="background-color: rgb(255, 255, 255); padding: 60px 38.5px;">
            <div>
                <div class="semiBold" style="color: rgb(32, 35, 37); line-height: 140%; font-size: 24px;">
                로그인
                </div>
            </div>
            <div>
                <div class="socialWrap">
                    <div class="registerEmail">
                        <div class="registerIcon">
                            <img src="https://cdn.comento.kr/icon/icon-email-medium.svg" alt="" class="registerIconImg"></div>
                        <div class="ml">
                            <div class="regular" style="color: inherit;"> 이메일로 로그인하기 </div>
                        </div>
                    </div>
                    <div class="registerKakao">
                        <div class="registerIcon">
                            <img src="https://cdn.comento.kr/icon/icon-kakao-medium.svg" alt=""></div>
                        <div class="ml">
                            <div class="regular" style="color: inherit;"> 카카오로 1초만에 시작하기 </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="okGo" style="color: rgb(173, 179, 184); text-align: center;">
                        <a href="">
                            <u class="caption1" style="color: rgb(118, 125, 130);"> 이용약관 </u></a>
                        및
                        <a href="">
                            <u class="caption1" style="color: rgb(118, 125, 130);"> 개인정보 처리방침 </u></a>
                        확인 후 동의합니다
                    </p>
                    <a href="" >
                        <u class="caption" style="color: rgb(42, 125, 225); text-align: center;"> 회원이 아니신가요? </u></a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<!--  footerNav-->
  <div></div>
<!--  -->
</div>
</body>
</html>