<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>아파트 주소 설정</title>
</head>
<link rel="stylesheet" href="/css/user/address-settings.css">
<link rel="stylesheet" href="/css/fix/nav/nav.css">
<link rel="stylesheet" href="/css/fix/footer/mainfooter.css">
<body>
    <div>
    <!--    nav-->
        <div th:replace="~{fix/nav/nav  :: recycling-nav}"></div>
    <!--    -->
        <div class="mainGrid" style="min-height: calc(100vh - 324px); background-color: rgb(255, 255, 255);">
            <div class="loginRow">
                <div class="loginStartWrap">
                    <div class="loginView">
                        <div class="loginViewList" style="background-color: rgb(255, 255, 255); padding: 60px 38.5px;">
                            <div class="semiBold" style="color: rgb(32, 35, 37); line-height: 140%; font-size: 24px;">
                               US EARTH<br>
                                아파트 주소 설정
                            </div>
                            <div class="add">
                                <form th:action="@{/user/address-settings}" name="apartment-address-settings" method="post">
                                    <div class="fontSize" style="color: rgb(60, 65, 68);">아파트 주소</div>
                                    <span>
                                        <div class="relative">
                                            <div class="relative">
                                              <input id="aptAddress" placeholder="아파트를 검색해주세요" name="aptAddress" readonly autocomplete="off" type="text" color="primary" class="outline" style="text-align: left;">
                                            </div>
                                        </div>
                                    </span>
                                    <div class="fontSize" style="color: rgb(60, 65, 68);">동</div>
                                    <span>
                                        <div class="relative">
                                            <div class="relative">
                                              <input id="userDong" placeholder="동을 입력해주세요" name="aptAddress" autocomplete="off" type="text" color="primary" class="outline" style="text-align: left;">
                                            </div>
                                        </div>
                                    </span>
                                    <div class="fontSize" style="color: rgb(60, 65, 68);">호</div>
                                    <span>
                                        <div class="relative">
                                            <div class="relative">
                                                <input id="userHo" placeholder="호를 입력해주세요" name="aptAddress" autocomplete="off" type="text" color="primary" class="outline" style="text-align: left;">
                                            </div>
                                        </div>
                                    </span>
                                    <button class="settingBtn" disabled>
                                        <div class="setting" style="color: inherit;">설정하기</div>
                                    </button>
                                </form>
            <!--              아파트 주소입력 칸 클릭 시 활성화 되는 모달창-->
                                <div class="modalFin" style="display: none">
                                    <div class="modalContainer">
                                        <img src="/images/main/gray-remove.svg" alt="" class="boxRemove">
                                        <div class="modalBody">
                                            <h2 class="textNormal">아파트 검색</h2>
                                            <form>
                                                <section class="apply">
                                                    <div style="display: flex;">
                                                        <input type="text" name="searchAptAddress" placeholder="도로명주소로 입력해주세요" class="searchAptAddress">
                                                        <button type="button" class="aptAddressSearchBTN">검색</button>
                                                    </div>
                                                </section>
                                                <section>
                                                    <ul></ul>
                                                </section>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--    footerNav-->
        <div>
            <nav th:replace="~{fix/footer/mobilefooter  :: mobile-footer}"></nav>
        </div>
    </div>
</body>
<script src="/js/user/address-settings.js"></script>
<script th:inline="javascript">
    const user = [[${session.user}]]
    console.log(user);
</script>
</html>