<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Us Earth 게시글 보기</title>
    <link rel="stylesheet" href="/css/fix/header/recyclingagent-readheader.css">
    <link rel="stylesheet" href="/css/recycling-agent/recycling-agentread.css">
</head>
<body>
<div id="boardFullLayout" th:replace="~{fix/header/recyclingagent-readheader:: readheader}"></div>
<div id="mainViewPost"  class="viewPostMain" style="min-height: calc(100vh - 324px); background-color: rgb(243, 244, 245);">
    <div class="mainViewPostBox">
        <div class="viewPostBoxMain">
            <div class="postedMainBox" style="background-color: #FFFFFF;">
                <div class="mainPostedBox" >
                    <div class="boxMainPosted">
                        <article class="postedBox" style="background-color: #FFFFFF;">
                            <div class="nickNameLine">
                                <div class="nickNameLineBox">
                                    <div class="avatarWrapper">
                                        <div>
                                            <div class="avatarMark">
                                                <i class="avatarNickName" style="background: #b4d2a9;"></i>
                                                <div class="avatarItem">
                                                    <div class="avatarItemIcon" style="color: #FFFFFF;"> v </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="informationWrapper">
                                            <div class="nameCompanyWrapper">
                                                <div class="nameIconWrapper">
                                                    <div class="nameWrapper">
                                                        <div class="userInfomationName" style="color: inherit; font-weight: 600;"> viva 68 </div>
                                                    </div>
                                                    <div class="userInfoWrapper"></div>
                                                </div>
                                            </div>
                                            <div class="otherWrapper"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropDownBox">
                                            <div class="dropDownItemGroup" style="max-width: 200px;">
                                                <div>
                                                    <button type="button" id="modifyPostButton" class="buttonIconMedium">수정하기
<!--                                                        <svg data-v-bd9f2bcc="" data-v-3035bc76="" width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" class="circleIcon" style="fill: rgb(148, 155, 160);">-->
<!--                                                            <circle data-v-bd9f2bcc="" cx="12" cy="5.5" r="1.5"></circle>-->
<!--                                                            <circle data-v-bd9f2bcc="" cx="12" cy="12" r="1.5"></circle>-->
<!--                                                            <circle data-v-bd9f2bcc="" cx="12" cy="18.5" r="1.5"></circle>-->
<!--                                                        </svg>-->
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 모달창 -->
<!--                                        <div class="dropDownBottom">-->
<!--                                            <div id="modalFirst" class="modal">-->
<!--                                                <div class="modalContent">-->
<!--                                                    <button class="modify">수정하기</button>-->
<!--                                                    <button class="cancle" >취소</button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div id="overlay" class="overlay"></div>-->
<!--                                            <div class="application">-->
<!--                                                <aside class="appOverlayDimmer"  style="z-index: 9998;">-->
<!--                                                    <div class="declarationModal" style="max-height: 86vh; width: 100%;">-->
<!--                                                        <div class="modalCloseButton">-->
<!--                                                            <svg data-v-bd9f2bcc="" data-v-bb5971ce="" width="28" height="28" viewBox="0 0 28 28" fill="black" xmlns="http://www.w3.org/2000/svg" class="modalicon" data-v-34c6c156="" style="fill: rgb(173, 179, 184);">-->
<!--                                                                <path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M5.79289 5.79289C6.18342 5.40237 6.81658 5.40237 7.20711 5.79289L22.2071 20.7929C22.5976 21.1834 22.5976 21.8166 22.2071 22.2071C21.8166 22.5976 21.1834 22.5976 20.7929 22.2071L5.79289 7.20711C5.40237 6.81658 5.40237 6.18342 5.79289 5.79289Z"></path><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M22.2071 5.79289C22.5976 6.18342 22.5976 6.81658 22.2071 7.20711L7.20711 22.2071C6.81658 22.5976 6.18342 22.5976 5.79289 22.2071C5.40237 21.8166 5.40237 21.1834 5.79289 20.7929L20.7929 5.79289C21.1834 5.40237 21.8166 5.40237 22.2071 5.79289Z"></path>-->
<!--                                                            </svg>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </aside>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                                <p class="aptBuildingNumber" style="color: #ADB3B8;">201동 302호</p>
                                <h2 class="contentTitle" style="color: #040505;">
                                    <span class="headlineTitle" style="color: inherit;">현대자동차 1차 직무면접 질문</span>
                                </h2>
                                <p class="contentBox" style="color: #202325;">
                                    <span class="purifiedHtml">
                                        이전에 현차에서 PT 발표를 하는 직무 면접을 봤었는데요,
                                    </span>
                                </p>
                                <p class="contentDate" style="color: #CFD4D7;">2023. 10. 27.</p>
                                <div class="cardActionContainer">
                                    <div class="cardActionWrapper">
                                        <button icon-name="IconLikeSmallLine" color="info" class="detailLikeInfoButton">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="hitsSVG" style="fill: rgb(148, 155, 160);">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8766 8C11.3452 12.6334 4.65478 12.6334 2.12331 8C4.65478 3.36658 11.3452 3.36658 13.8766 8ZM14.8923 7.78461C12.0525 2.10504 3.94746 2.10504 1.10767 7.78461C1.03988 7.9202 1.03988 8.07979 1.10767 8.21538C3.94746 13.895 12.0525 13.895 14.8923 8.21538C14.9601 8.07979 14.9601 7.9202 14.8923 7.78461Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M8 9.5C8.82843 9.5 9.5 8.82843 9.5 8C9.5 7.17157 8.82843 6.5 8 6.5C7.17157 6.5 6.5 7.17157 6.5 8C6.5 8.82843 7.17157 9.5 8 9.5ZM8 10.5C9.38071 10.5 10.5 9.38071 10.5 8C10.5 6.61929 9.38071 5.5 8 5.5C6.61929 5.5 5.5 6.61929 5.5 8C5.5 9.38071 6.61929 10.5 8 10.5Z"></path>
                                            </svg>
                                            <div id="postViewCount" class="detailLikeInfoNumber" style="color: #949BA0;">0</div>
                                        </button>
                                    </div>
                                    <hr class="dividerLineVertical" style="border-color: #EAECEE;height: 16px;">
                                    <div class="cardActionWrapper">
                                        <button icon-name="IconLikeSmallLine" color="info" class="detailLikeInfoButton">
                                            <svg id="likeButton" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="heartIcon" style="fill:#949BA0;" data-post-id="${post.id}" data-user-id="${user.id}">
                                            <path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M8 5.79179L7.16516 4.5257C6.75467 3.90318 6.05854 3.5 5.27273 3.5C4.02534 3.5 3 4.5219 3 5.8C3 6.46253 3.27323 7.21871 3.78425 8.03207C4.28965 8.8365 4.98019 9.62153 5.6981 10.3215C6.41239 11.0179 7.13067 11.6079 7.67232 12.0246C7.79109 12.116 7.90097 12.1988 8 12.2722C8.09904 12.1988 8.20892 12.116 8.32768 12.0246C8.86934 11.6079 9.58761 11.0179 10.3019 10.3215C11.0198 9.62153 11.7103 8.8365 12.2157 8.03207C12.7268 7.21871 13 6.46253 13 5.8C13 4.5219 11.9747 3.5 10.7273 3.5C9.94146 3.5 9.24533 3.90318 8.83485 4.5257L8 5.79179ZM8 13.5C8 13.5 2 9.5 2 5.8C2 3.97746 3.46525 2.5 5.27273 2.5C6.0432 2.5 6.75149 2.76846 7.31061 3.21768C7.57757 3.43217 7.81052 3.68786 8 3.97522C8.18948 3.68786 8.42244 3.43217 8.6894 3.21768C9.24851 2.76846 9.9568 2.5 10.7273 2.5C12.5348 2.5 14 3.97746 14 5.8C14 9.5 8 13.5 8 13.5Z"></path>
                                            </svg>
                                            <div id="likeCount" class="detailLikeInfoNumber" style="color: #949BA0;">1</div>
                                        </button>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="replyLayoutBox" style="background-color: rgb(243, 244, 245);">
                <div class="replyBox">
                    <div class="layoutBox" style="background-color: inherit;">
                        <div class="layoutReplyBox">
                            <div class="boxReply">
                                <div class="replyContainer">
                                    <hr class="lineVerticalDivider" style="border-color: rgb(234, 236, 238);">
                                    <div class="containerReply" style="background-color: rgb(255, 255, 255); padding: 20px 16px;">
                                        <!-- 사용자 댓글 입력 필드 -->
                                        <div class="textFieldAdditional">
                                            <!-- 사용자 댓글 -->
                                            <div id="commentsPost">
                                                <!-- 댓글들이 이 위치에 추가-->
                                            </div>
                                            <div class="inputAndButtonContainer" style="display: flex; align-items: center;">
                                                <div class="replyContentBox" style="flex: 1;">
                                                    <input id="textField" placeholder="댓글을 남겨보세요!" name="fieldText" autocomplete="off" type="text" class="inputFieldOutline" style="width: 100%;">
                                                </div>
                                                <div class="buttonWrapper">
                                                    <button id="submitCommentButton" class="buttonMedium">
                                                        <div class="buttonIcon"></div>
                                                        댓글 등록
                                                        <div class="buttonIcon"></div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 댓글이 있으면 생기는 댓글Box js에서 반복문 돌릴예정이라 댓글 박스는 1개만 만듦 -->
                                    <div class="answerComment">
                                        <hr class="dividerLine horizontal" style="border-color: rgb(234, 236,238); background: white;">
                                        <div class="commentBox" style="background-color: rgb(255, 255, 255); padding: 20px 16px 0px;">
                                            <!-- 댓글 -->
                                            <div class="commentBody" style="color: rgb(89, 95, 99);"> 댓글
                                                <span class="commentTypography" style="color: inherit; font-weight: 500;"></span>
                                            </div>
                                        </div>
<!--                                        댓글이 (JS로) 동적으로 추가될 위치 -->
                                        <div id="userComments"></div>
                                        <div class="boxComment" style="background-color: rgb(255, 255, 255); padding: 16px;">
<!--                                            <div class="betweenJust">-->
<!--                                                <div class="commentUserInformation normal">-->
<!--                                                    <div class="avatarWrapper">-->
<!--                                                        <div>-->
<!--                                                            <div class="commentAvatar container">-->
<!--                                                                <i class="avatarComment nickName1" style="background: rgb(145, 207, 211);"></i>-->
<!--                                                                <div class="commentAvatarItem">-->
<!--                                                                    <div class="commentBody boldSemi" style="color: rgb(255, 255, 255);"> s </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="informationWrapper">-->
<!--                                                        <div class="nameCompanyWrapper">-->
<!--                                                            <div class="nameIconWrapper">-->
<!--                                                                <div class="nameWrapper">-->
<!--                                                                    <div class="infomationUserName bodyComment commentBody" style="color: inherit; font-weight: 600;"> s네단s</div>-->
<!--                                                                </div>-->
<!--                                                                <div class="userInfoWrapper"></div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="otherWrapper">-->
<!--                                                            <div class="commentTypography c-caption1" type="normal" style="color: rgb(173, 179, 184);"> 2023. 10. 29 </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="commentDrawer contentActionDropdownBottomSheet"></div>-->
<!--                                            </div>-->
<!--                                            <div class="commentTypography commentBody1" style="color: rgb(60, 65, 68);">-->
<!--                                                &lt;!&ndash;                            댓글 내용 &ndash;&gt;-->
<!--                                                <span class="purifiedHtml">댓글 확인용</span>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="postListArea" style="background-color: rgb(255, 255, 255); padding: 16px 16px 24px;">
                        <div class="listPostLine" style="color: #2A7DE1;">함께 읽을 수 있는 글</div>
                        <ul class="postListTable">
                            <li>
                                <div id="postListTitleLine1" class="postListTitleLine" style="color: inherit;">
                                    <span>서랍장 나눔합니다.</span>
                                </div>
                                <div id="contentWrapper1" class="contentWrapper" style="color: rgb(60, 65, 68);">
                                    이사로 인해 버리기 아까울정도로 새 것에 가까운 서랍장 필요하신 분께 드리고자 합니다. <br>
                                    필요하신 분은 답글 남겨주세요~
                                </div>
                            </li>
                            <hr class="dividingLine" style="border-color: #EAECEE;">
                            <li>
                                <div id="postListTitleLine2"  class="postListTitleLine" style="color: inherit;">
                                    <span>무료 식사제공 자원봉사자 모집</span>
                                </div>
                                <div id="contentWrapper2" class="contentWrapper" style="color: rgb(60, 65, 68);">
                                    안녕하세요~ OO식당입니다.<br>
                                    저희 식당에서 오는 09월 30일에 어르신 분들을 위해 무료 식사를 제공할 예정입니다. <br>
                                    저희와 함께 봉사하실 분을 모십니다. 봉사를 원하시는 분들은 아래 답변 글을 남겨주시면 연락드리겠습니다. <br>
                                    감사합니다.
                                </div>
                            </li>
                            <hr class="dividingLine" style="border-color: #EAECEE;">
                            <li>
                                <div id="postListTitleLine3"  class="postListTitleLine" style="color: inherit;">
                                    <span>결식 아동들을 위한 자원봉사자 모집</span>
                                </div>
                                <div id="contentWrapper3"class="contentWrapper" style="color: rgb(60, 65, 68);">
                                    안녕하세요~ OO베이커리입니다.<br>
                                    저희 OO베이커리에서는 09월 23일에 결식 아동들을 위해 빵을 무료로 배식할 예정입니다. <br>
                                    저희와 함께 봉사하실 분을 모십니다. 봉사를 원하시는 분들은 아래 답변 글을 남겨주시면 연락드리겠습니다. <br>
                                    감사합니다.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    const user = [[${session.user}]]
    const post = [[${post}]]
</script>
<script src="/js/recycling-agent/recycling-agentread.js"></script>
</html>