@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css);
article, aside, body, div, footer, header, section {
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.h1, .h2, .h3, .h4, .h5, .h6, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}
*, :after, :before {
    box-sizing: border-box;
    outline: none;
}
div{display: block;}
body {
    width: 100%;
    color: #495057;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    background-color: #fff;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
html {
    width: 100%;
    min-height: 100%;
    font-size: 10px;
    position: relative;
}
body ::selection {
    color: inherit;
    background-color: #e6e6e6;
    cursor: text;
}
.headerWrapper{
    background-color: #fff;
}
.topBar {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
}
.newGrid.container{
    max-width: 100vw;
}
.newGrid{
    position: relative;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.container:before{
    content: " ";
    display: table;
}
.container:after{
    clear: both;
    content: " ";
    display: table;
}
.newRow{
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
}
.newCol1{
    position: relative;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;
}
.topBarContainer{
    height: 52px;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
}
.topBarBackward{
    display: flex!important;
    justify-content: center;
    align-items: flex-start;
}
.icon0{
    background: transparent !important;
}
svg:not(:root){
    overflow: hidden;
}
svg:not(:root){
    overflow-clip-margin: content-box;
}
.pointer{
    cursor: pointer!important;
}
.image0{
    margin-right: 4px !important;
}
.body1{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
}
.topTitle{
    word-break: keep-all;
    word-wrap: break-word;
}
.topBarContent{
    display: flex;
}
.flex.alignCenter{
    align-items: center;
}
.flex{
    display: flex;
}
.headerInfoSectionList{
    display: flex !important;
    align-items: center;
}
.inform3{
    margin-left: 16px!important;
}
ul{
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.fakeHeader.noSub{
    height: 52px;
}
.grid.fluid{
    width: 100%;
    padding: 0;
}
.grid{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}
.newCol1.noGutters{
    padding-left: 0;
    padding-right: 0;
}
.newCol1{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.newGrid.container{
    max-width: 100vw;
}
.sub1{
    margin-top: 40px!important;
}
.sub2{
    margin-bottom: 40px!important;
}
#requests{position: relative;}
#requests.requestContainer{
    margin-top: 40px;
    margin-bottom: 160px;
    background: #fff;
}
#requests.requestContainerTitle{
    font-size: 26px;
    line-height: 37px;
    color: #282c30;
    font-weight: 600;
    margin-bottom: 24px;
}
h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
#requests.requestBox{
    position: relative;
}
#requests.requestBox:before{
    content: " ";
    display: table;
}
#requests.requestBox:after{
    clear: both;
    content: " ";
    display: table;
}
.requestBoxTitle{
    margin-bottom: 8px !important;
}
.textField{
    position: relative;
}
.textFieldInputWrapper{
    position: relative;
}
.textFieldInput.textFieldOutLine{
    padding: 0 16px;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
}
.textFieldInput{
    display: block;
    width: 100%;
    height: 40px;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
    transition: all .2s ease;
}
input{outline: none!important;}
input, input[type=text]{box-sizing: border-box;}
input,textarea{appearance: none;}
button,input{overflow: visible;}
button, input, optgroup, select, textarea {
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    margin: 0;
}
input:not([type="range"]):not([type="color"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="file"]) {
    writing-mode: horizontal-tb !important;
}
input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}
input{
    text-rendering: auto;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    cursor: text;
    background-color: field;
}
input:before, input[type=search]:before, input[type=text]:before, input:after, input[type=search]:after, input[type=text]:after {
    box-sizing: border-box;
}
input:before, input[type=search]:before, input[type=text]:before, input:after, input[type=search]:after, input[type=text]:after {
    box-sizing: border-box;
}
.requestTextareaWrapper{
    border-radius: 3px;
    border: 1px solid #e1e4e7;
    padding: 16px 12px 50px;
    vertical-align: top;
    transition: all .2s ease;
}
.requestTextarea{
    float: inherit;
    border: none;
    padding: 0;
}
textarea{overflow: auto;}
textarea{
    width: 100%;
    min-height: 160px;
    resize: none;
    line-height: 150%!important;
    color: #495057;
    outline: none!important;
}
textarea{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    cursor: text;
    white-space-collapse: preserve;
    text-wrap: normal;
    overflow-wrap: break-word;
    background-color: field;
    column-count: initial !important;
    writing-mode: horizontal-tb !important;
}
#requests.requestBox{margin-top: 40px; position:relative;}
.cButton.full{
    width: 100%;
}
.cButton.xLarge{
    height: 60px;
    padding: 0 26px;
    min-width: 84px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}
.primary{
    background-color: #2A7DE1;
}
.cButton{
    color: #fff;
    border: none;
    display: flex!important;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
button, select{
    text-transform: none;
}
button{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0;
    text-shadow: none;
    text-align: center;
    writing-mode: horizontal-tb !important;padding-block: 1px;
    padding-inline: 6px;
}
.cButtonIcon{display: flex !important;}

.form-content-category-con{
    cursor: pointer;
    padding: 6.5px 12px;
    border-radius: 4px;
    border: 1px solid #e1e4e6;
    display: flex;
    flex-direction: row;
}
.category-input{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #202325;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 0;
}
.icon-container{
    display: flex;
    align-items: center;
}
.category-icon {
    transition: .3s;
    cursor: pointer;
    background-color: transparent;
}
.form-content-category-wrap{
    display: inline-flex;
    position: relative;
    margin-bottom: 10px;
    column-gap: 12px;
    max-width: 280px
}
.requestBox{
    margin-top: 20px;
}
.category-dropdown-container{
    display: none;
    position: absolute;
    flex-direction: column;
    top: 100%;
    width: 100%;
    max-height: 300px;
    background: #fff;
    box-shadow: 0 3px 7px #0000000f;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 4;
    padding: 8px 12px;
}
.category{
    padding: 12px 4px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(60, 65, 68);
    cursor: pointer;
}
.category-devider{
    border: 0;
    border-top: 1px;
    border-style: solid;
    border-color: rgb(234, 236, 238);
    margin: 6px 0;
    width: inherit;
    height: 0;
}
.form-content-category-con.active {
    border: 1px solid #adb3b8;
}
.category-dropdown-container.active {
    display: block;
}
#categoryIcon path {
    transition: transform 0.3s;
}
.error{
    font-size: 13px;
    font-weight: 400;
    line-height: 5px;
    margin-top: 4px!important;
}
.c-icon{
    background: transparent!important;
    cursor: auto;
}