@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css);

html{
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}
body{
    line-height: 1;
}
*, :after, :before {
    box-sizing: border-box;
    outline: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del,
details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table,
tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
    border: 0;
    margin: 0;
    padding: 0;
}
article, aside, body, div, footer, header, section {
    -webkit-user-select: text;
    user-select: text;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend,
li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span,
strike, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font-family: "Pretendard Variable",Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"Helvetica Neue","Segoe UI","Apple SD Gothic Neo","Noto Sans KR","Malgun Gothic","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

svg:not(:root){
    overflow: hidden;
}

ol, ul {
    list-style: none;
}

article, aside, body, div, footer, header, section {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* 기본 반응형 */

@media only screen and (max-width: 768px) {
    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}

/* header */

.headerWrapper {
    background-color: #fff;
}

.notiDrawer[data-v-43f0775e] {
    position: relative;
    z-index: 100;
}

.topBar[data-v-09aeb421] {
    background-color: #fff;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.applicationContainer {
    max-width: 100vw;
}

.applicationContainer {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
}

.applicationRow {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.applicationCol {
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    width: 100%;
}

.container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    height: 52px;
    justify-content: space-between;
}

.topBarBackward {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    justify-content: center;
}

.topBarBackward {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.topBarContent {
    display: flex;
}

.iconSvg {
    background-color: transparent!important;
    cursor: pointer;
    margin-right: 4px!important;
}

.headerNotice {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 25px;
}

.breakWord {
    word-wrap: break-word;
    word-break: keep-all;
}

.topBarContentFlex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.topBarContentFlexed {
    align-items: center;
    display: flex!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


/* Main grid */

#mainGrid {
    padding-top: 0!important;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}

.gridRow {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.gutter {
    padding-left: 0;
    padding-right: 0;
}

.gridCol {
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    width: 100%;
}

.gridContainer {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
}

.mainSection {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: flex;
    margin-bottom: 16px!important;
    margin-top: 16px!important;
}

.notice {
    font-size: 22px;
    font-weight: 600!important;
    line-height: 28px;
}