<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.usearth.mapper.MainMapper">
    <select id="selectRecycle" resultType="postDTO">
        SELECT POST_Title,POST_CONTENT,POST_CATEGORY
        FROM TBL_POST
        WHERE POST_CATEGORY='재활용'
        ORDER BY POST_MODIFY_DATE DESC
    </select>

    <select id="selectFree" resultType="postDTO">
        SELECT POST_Title,POST_CONTENT,POST_CATEGORY
        FROM TBL_POST
        WHERE POST_CATEGORY='자유'
        ORDER BY POST_MODIFY_DATE DESC
    </select>
</mapper>