@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css);

html{
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}
body{
    line-height: 1;
}
*, :after, :before {
    box-sizing: border-box;
    outline: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del,
details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table,
tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
    border: 0;
    margin: 0;
    padding: 0;
}
article, aside, body, div, footer, header, section {
    -webkit-user-select: text;
    user-select: text;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend,
li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span,
strike, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font-family: "Pretendard Variable",Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"Helvetica Neue","Segoe UI","Apple SD Gothic Neo","Noto Sans KR","Malgun Gothic","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.mainGrid {
    width: 100%;
    padding: 0;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.loginRow {
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}
.loginStartWrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 85px !important;
}
.loginView {
    width: 343px;
    margin: auto;
    display: block;
}
.semiBold{
    font-weight: 600!important;
    word-break: keep-all;
    word-wrap: break-word;
    margin-bottom: 40px!important;
}
.socialWrap{
    width: 100%;
    -webkit-box-pack: start;
    margin-bottom: 24px;
}
.registerEmail{
    background: #EAECEE;
    color: #949ba0;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin: 0 0 12px;
    padding-left: 16px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer!important;
}
.registerIcon{
    margin-right: 2px;
    idth: 24px;
    height: 24px;
}
.ml{
    margin-left: 6px!important;
}
.regular{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
    font-weight: 400!important;
    word-break: keep-all;
    word-wrap: break-word;
}
.registerIconImg{
    display: block;
    width: 100%!important;
    height: 100%!important;
}
img {
    border-style: none;
    max-width: 100%;
}
.registerKakao{
    background: #fee500;
    color: #181600;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin: 0 0 12px;
    padding-left: 16px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer!important;
}
.okGo{
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    word-break: keep-all;
    word-wrap: break-word;
    margin-bottom: 8px!important;
}
.caption1 {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
}
input::placeholder{
    color: #e1e4e6;
}
a{
    background-color: transparent;
    color: #495057;
    text-decoration: none;
    cursor: pointer;
}
.caption{
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    display: block!important;
}
