@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css);

html{
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}
body{
    line-height: 1;
}
*, :after, :before {
    box-sizing: border-box;
    outline: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del,
details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table,
tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
    border: 0;
    margin: 0;
    padding: 0;
}
article, aside, body, div, footer, header, section {
    -webkit-user-select: text;
    user-select: text;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend,
li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span,
strike, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font-family: "Pretendard Variable",Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"Helvetica Neue","Segoe UI","Apple SD Gothic Neo","Noto Sans KR","Malgun Gothic","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, footer, header, nav, section{
    display: block;
}

.headerWrap{
    background-color: #fff;
}

@media screen and (max-width:768px){
    .header{
        display: none;
    }
}

@media screen and (min-width:768px){
    .header {
        background-color: #fff;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 90;
    }
}
/* 모바일 새로운 div */
@media(min-width: 768px){
    .mobileWrap{
        display: none;
    }
}
@media(max-width: 768px){
    .mobileWrap{
        max-width: 100vw;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        width: 100%;
    }
    .mobileNewLow{
        display: flex;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;
    }
    .mobileNewCol{
        box-sizing: border-box;
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
        width: 100%;
    }
    /* 모바일로고 쪽 */
    .mobileContainer{
        display: block;
        align-items: center;
        display: flex!important;
        height: 52px;
        justify-content: space-between;
    }
    .mobileTop{
        display: flex;

    }
    .mobileLogo{
        display: flex;
    }
    .mobileCenter{
        -webkit-box-align: center;
        align-items: center;
        display: flex;
    }
    .mobileHeaderRight{
        align-items: center;
        display: flex!important;
        margin-left: 16px!important
    }
    .mobileRight:not(:last-child){
        margin-right: 8px;
    }
    .mobileSearch{
        height: 28px;
        padding: 2px;
        width: 28px;
        align-items: center;
        background-color: transparent;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: flex!important;
        justify-content: center;
    }
    .mobileIcon{
        cursor: inherit;
        background: transparent!important;
        overflow: hidden;
    }
    .mobileFlex{
        display: flex;
        position: relative;
    }
    .mobileButtonRight{
        height: 28px;
        padding: 2px;
        width: 28px;
        align-items: center;
        background-color: transparent;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: flex!important;
        justify-content: center;
    }
}

.mibileTop{
    background-color: #fff;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}
.navStart{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
    max-width: 100vw;
}
@media(min-width: 768px){
    .navStart{
        max-width: 1140px;
    }
}
.navLayout{
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    flex-wrap: wrap;
}
@media(min-width: 768px){
    .navLayout{
        margin-left: -12px;
        margin-right: -12px;
    }
}

.navScreen{
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
@media(min-width: 768px){
    .navScreen{
        padding-left: 12px;
        padding-right: 12px;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media(min-width: 768px){
    .navWrap{
        align-items: center;
        display: flex!important;
        height: 68px;
    }
}
.inNavLayout{
    -webkit-box-align: center;
    align-items: center;
    display: flex!important;
}
a , a:active, a:focus, a:hover{
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}
.smallFlex{
    display: flex;
}
.ulStart{
    display: flex;
    margin-left: 26px!important;
}
ol, ul {
    list-style: none;
}
.navList{
    color: #595f63;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
}
.navList:not(:first-child){
    margin-left: 24px;
}
/* js */
.hovered{
    color: #1b5192;
    font-weight: 600;
}
.rightNav{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin-left: auto!important;
}
.navSearch{
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: inline-flex;
    flex-direction: column;
    position: relative;
}
.navIn{
    position: relative;
}
.navInIn{
    width: 100%;
    align-items: center;
    border-radius: 4px;
    display: flex;
    height: 40px;
    max-width: 300px;
}
.navInIn::before{
    content: " ";
    display: table;
}
.width{
    width: 100%;
}
input{
    appearance: none;
    /* -webkit-border-radius: 0; */
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.searchInput{
    width: 300px!important;
    zoom: 1;
    background-color: #f3f4f5;
    border: 0;
    border-radius: 4px;
    color: #3c4144;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 36px 10px 58px;
    transition: all .2s ease;
    vertical-align: top;
}
input::placeholder{
    color: rgb(140, 150, 160);
}
.dontKnow{
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    align-items: center;
    display: flex!important;
    flex-direction: row;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.searchIcon{
    left: 0!important;
    width: max-content;
    z-index: 1;
    align-items: center;
    display: flex!important;
    flex-direction: row;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}
.navInIn::after{
    clear: both;
    content: " ";
    display: table;
}
.icon{
    display: block;
    margin-left: 14px;
    opacity: .8;
    position: relative;
    z-index: 2;
    background: transparent!important;
    cursor: auto;
    overflow: hidden;
}
hr{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
@media(min-width: 768px){
    .whyHr{
        border-style: solid;
        border-top: 1px;
        height: 0;
        width: inherit;
        border: 0;
        margin: 0;
    }
}
.fakeHeader{
    height: 52px;
}
@media(min-width: 768px){
    .fakeHeader{
        height: 69px;
    }
}
.flexRight{
    align-items: center;
    display: flex;
}
.ulFlex{
    align-items: center;
    display: flex!important;
    margin-left: 16px!important;
}
.liTwo{
    align-items: center;
    display: flex!important;
    height: 42px;
    justify-content: center;
}
button, input {
    overflow: visible;
}
button,select{
    text-transform: none;
}
.liButton{
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    height: 28px;
    line-height: 20px;
    padding: 4px;
    align-items: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex!important;
    justify-content: center;
}
.liButton:hover{
    background-color: #f3f4f5;
}
.liButtons{
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    height: 28px;
    line-height: 20px;
    padding: 4px;
    align-items: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex!important;
    justify-content: center;
    margin-left: 8px!important;
}
.liButtons:hover{
    background-color: #f3f4f5;
}
.narrow{
    align-items: center;
    display: flex!important;
}
.drawer{
    position: relative;
    z-index: 100;
}
@media(max-width: 768px){
    .sideDrawer{
        display: none;
    }
}
@media(min-width: 768px){
    .sideDrawer{
        z-index: 1;
        background: #fff;
        box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
        min-height: 266px;
        position: fixed;
    }
}
.navContainer{
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}
@media(min-width: 768px){
    .navContainer{
        max-width: 100vw;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        width: 100%;
    }
}
@media(min-width: 768px){
    .navContainer{
        max-width: 1140px;
    }
}
.apllicationRow{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}
@media(min-width: 768px){
    .apllicationRow{
        margin-left: -12px;
        margin-right: -12px;
    }
}
.apllicationCol{
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

@media(min-width: 768px) {
    .apllicationCol{
        padding-left: 12px;
        padding-right: 12px;
    }
}
.apllicationTab{
    border-bottom-color: #f3f4f5;
    border-bottom: 1px solid #f3f4f5;
    overflow: visible;
    background-color: #fff;
    width: 100%;
}
@media(max-width: 768px) {
    .apllicationTab{
        padding: 0 12px;
        position: relative;
        z-index: 1;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(min-width: 768px){
    .apllicationTab{
        border-bottom: 1px solid transparent;
    }
}
.menuWrapper{
    width: 100%;
    display: flex!important;
}
.headerOpen{
    display: block;
    top: 52px;
    background-color: #fff;
    left: 0;
    position: fixed;
    transition: top .1s linear,opacity .1s ease-in;
    width: 100vw;
    z-index: 80;
}
@media(min-width: 768px){
    .headerOpen{
        top: 69px;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,.02);
    }
}
.buttonMenu{
    margin-right: 12px;
    -webkit-box-align: center;
    align-items: center;
    display: flex!important;
    position: relative;
}
.buttonMenu:hover{
    background-color: transparent!important;
    border-radius: 6px;
}
.applicationButton:hover{
    color: #1b5192;
}
.linkActive{
    text-decoration: none;
}
.applicationButton{
    height: 43px!important;
    background: none!important;
    border: 0;
    color: #adb3b8;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    min-width: auto;
    outline: 0;
    padding: 4px;
    width: fit-content;
    border-radius: 6px;
    align-items: center;
    display: flex!important;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.buttonIcon{
    display: flex!important;
}
.searchDown{
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,.102);
    max-height: 414px!important;
    padding: 12px 0;
    background: #fff;
    box-sizing: border-box;
    display: block;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 8;
}
.searchDownContainer{
    margin: 8px 12px 0;
    max-width: 300px;
    margin-bottom: 8px!important;
}
.displayNone{
    margin-bottom: 8px;
    margin-left: 12px;
    margin-right: 12px;
    background: #fff;
    margin-top: 8px!important;
}
.popularitySearch{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 12px!important;
    word-wrap: break-word;
    word-break: keep-all;
}
.popularityList{
    max-height: 144px;
    overflow: hidden;
    padding-left: 4px!important;
    padding-right: 4px!important;
}
.searchTop{
    margin-top: -8px;
}
.searchTop::before{
    content: " ";
    display: table;
}
.searchTop::after{
    clear: both;
    content: " ";
    display: table;
}
.searchContent{
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 15px;
    padding: 5px 12px;
    float: left;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    line-height: 20px;
    background-color: #f3f4f5;
    color: #595f63;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
}
.searchContent:last-child{
    margin-right: 0;
}
.searchContent:hover{
    background-color: #eaecee;
    cursor: pointer;
}
/* 검색창 */
.fullScreenMobile{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: .3s ease-in;
    width: 100%;
    z-index: 9998;
}
.mobileAside{
    position: relative;
    background: rgba(0,0,0,.6);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.mobileModal{
    width: 100%!important;
    border-radius: 0;
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
.mobileSearchTop{
    background-color: #fff;
    height: 52px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}
.mobileHr{
    border-style: solid;
    border-top: 1px;
    height: 0;
    width: inherit;
    border: 0;
    margin: 0;
    margin-top: 52px!important;
}
.mobilePopularity{
    max-width: 100vw;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
    margin-bottom: 16px!important;
    margin-top: 16px!important;
}
.mobileSearchMenu{
    max-width: 100vw;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
    padding-bottom: 10px!important;
    padding-top: 10px!important;
}
.mobileSearchContainer{
    align-items: center;
    display: flex!important;
    justify-content: space-between;
}
.mobileX{
    display: flex!important;
}
.mobileIconTwo{
    cursor: pointer;
    background: transparent!important;
    margin-right: 16px!important;
    overflow: hidden;
}
.mobileSearchInputWrap{
    width: 100%;
}
.mobileSearchInputWrap::before{
    content: " ";
    display: table;
}
.searchInputFull{
    width: 100%;
    padding: 6px 30px 6px 50px;
    zoom: 1;
    background-color: #f3f4f5;
    border: 0;
    border-radius: 4px;
    color: #3c4144;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    transition: all .2s ease;
    vertical-align: top;
}
.inputIcon{
    right: 12px;
    align-items: center;
    display: flex!important;
    flex-direction: row;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.mobileSearchIcon{
    /* left: 0!important; */
    /* right: 12px; */
    width: max-content;
    align-items: center;
    display: flex!important;
    flex-direction: row;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.mobileSearchInputWrap::after{
    clear: both;
    content: " ";
    display: table;
}
.applicationIcon{
    margin-left: 14px;
    display: block;
    opacity: .8;
    position: relative;
    z-index: 2;
    background: transparent!important;
    cursor: auto;
    overflow: hidden;
}
.mobileFont{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px!important;
}
.popularKeyWard{
    max-height: 156px;
    overflow-y: hidden;
}
.popularKeyWard::before{
    content: " ";
    display: table;
}
.mobilePointer{
    margin-right: 8px;
    border-radius: 15px;
    padding: 5px 12px;
    float: left;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    line-height: 20px;
    background-color: #f3f4f5;
    border: 1px solid #f3f4f5;
    color: #595f63;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
    cursor: pointer!important;
    margin-bottom: 12px!important;
}
.mobilePointer:last-child{
    margin-right: 0;
}
.mobileSwiper{
    display: flex;
    height: 100%;
    position: relative;
    box-sizing: content-box;
    transition-property: transform,-webkit-transform;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
    transition-timing-function: ease-out;
}
.mobileSpan{
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: -1000;
}